.c-menu-link-item {
  line-height: 3.25em;
  position: relative;
  z-index: 1;
  transition-property: color;
  transition-duration: $duration__fade-toggle;
  transition-timing-function: $easing__accelerating-exit;

  &::before,
  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: -1;
    transition-property: opacity;
    transition-duration: $duration__fade-toggle;
    transition-timing-function: $easing__accelerating-exit;
  }

  &:hover:not(.is-active)::before,
  &:focus:not(.is-active)::before {
    opacity: 1;
    transition-timing-function: $easing__decelerating-entrance;
  }

  &.is-active::after {
    opacity: 1;
  }

  .c-menu-link-item__link {
    text-overflow: ellipsis;
    overflow: hidden;
    min-width: 0;   /* The extra min-width allows flex-children to be able to have truncated ellipses (https://css-tricks.com/flexbox-truncated-text/) */
    color: inherit;
    padding: 0 1em;
  }
}
