.c-navbar {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;

  .c-navbar__logo {
    font-size: larger;
    color: $theme-color__primary-1--500;
  }

  .c-navbar__sidenav-toggle-button {
    background-color: transparent;
    font-size: 1.75em;
    color: $theme-color__accent-1--500;
  }

  .c-navbar__login-button {
    margin-left: auto;
    font-size: 0.75em;
  }
}
