.p-videos {

  .p-videos__search-options-section,
  .p-videos__search-results-section {
    margin-top: 2rem;
  }

  .p-videos__search-options {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .p-videos__search-option {
    //flex-basis: 47.5%;
    //flex-basis: 26rem;
    width: 26rem;
    flex-grow: 0;
    flex-shrink: 0;
  }

  .p-videos__search-option:not(:last-child) {
    margin-bottom: 1.5rem;
  }

  .p-videos__search-results-card {
    width: 30rem;
    height: 26rem;
    background-color: white;
  }
}
