@import 'colors';

/**
 * Application-wide base variables
 *
 * 📝 Possible TODO: Break out things that get too large (see: "colors" above)
 */

/**
 * -----------------------------------------
 * ANIMATION
 * -----------------------------------------
 */
$duration__fade-toggle: 0.25s;
$duration__shift-element: 0.2s;

$easing__ease-in-quad: cubic-bezier(0.550, 0.085, 0.680, 0.530);

$easing__ease-out-sine: cubic-bezier(0.390, 0.575, 0.565, 1.000);
$easing__ease-out-quad: cubic-bezier(0.250, 0.460, 0.450, 0.940);
$easing__ease-out-cubic: cubic-bezier(0.215, 0.610, 0.355, 1.000);


/**
 * -----------------------------------------
 * DIMENSIONS
 * -----------------------------------------
 */
$height__navbar: 4rem;
$width__sidenav: 18rem;

/*
 * 180:130 padding ratio to align content aspect ratio with human FOV
 */
$padding__content-box: 0.75em 1.05em;
$padding__content-box--lg: 1.5em 2.10em;
