<h3 class="c-flash-message__heading">{{content.message}}</h3>
{{icon-button
  class="c-flash-message__button o-darken-color-on-hover"
  iconURL="/assets/icons.svg#icon_x"
  aria-label="Close"
  strokeWidth="0.25em"
  click=(action 'close')
}}
