@keyframes FlashInFromRight {
  0% {
    opacity: 0;
    transform: translate3d(100%, 0, 0);
  }
  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes FlashOutLeft {
  0% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
  100% {
    opacity: 0;
    transform: translate3d(100%, 0, 0);
  }
}

.c-flash-messages {
  pointer-events: none;
  position: fixed;
}

.c-flash-messages__message {
  animation-duration: $duration__slide-element;
  width: $width__flash-message;  // 📝 TODO: Media queries for responsive widths
}

.c-flash-messages__message:not(:last-child) {
  margin-bottom: 0.5rem;
}

.c-flash-messages__message.is-active {
  pointer-events: auto;
  animation-timing-function: $easing__ease-out-cubic--bounce-25;
}

.c-flash-messages__message.is-exiting {
  pointer-events: initial;
  animation-timing-function: $easing__ease-in-quad;
}
//
//.c-flash-message:hover {
//  animation-play-state: paused;
//}


/* Positioning */
.c-flash-messages--bottom-right {
  position: fixed;
  bottom: 0;
  right: 0;

  .c-flash-messages__message.is-active {
    animation-name: FlashInFromRight;
  }
  .c-flash-messages__message.is-exiting {
    animation-name: FlashOutLeft;
  }
}
