.c-text-input {
  box-sizing: border-box;
  padding: 0 0.5em;
  line-height: 1.75;
  font-size: 2.5rem;
  overflow: hidden;
  text-overflow: ellipsis; /* Cleans the appearance of any overflowing placeholder text */
}
