.c-text-input {
  box-sizing: border-box;
  padding: 0 0.5em;
  line-height: 2.5;
  font-size: 1.5rem;
  overflow: hidden;
  text-overflow: ellipsis; /* Cleans the appearance of any overflowing placeholder text */
  border: 0.0625em solid lightgray;
}

.c-text-input[type="search"] {
  -webkit-appearance: none;
}
