$width__preview-image: 320px;
$height__preview-image: 240px;

$width__card: $width__preview-image;
//$height__card: $width__card * (4 / 3);

//$height__info-footer: $height__card - $height__preview-image;

//$font-size__card-title: 1.5rem;
//$height__preview-image-title-area: calc(#{$font-size__card-title} + 2rem);
//

.c-video-card {
  position: relative;
  overflow: hidden;
  width: $width__card;
  //height: $height__card;
  height: auto;
}

.c-video-card__image {
  width: $width__preview-image;
  height: $height__preview-image;
  object-fit: contain;
}

.c-video-card__info-footer {
  //height: $height__info-footer;
  display: flex;
  flex-direction: column;

  > * {
    margin-top: 0;
    margin-right: 0;
    margin-left: 0;
    margin-bottom: 1em;
  }

  > :last-child {
    margin-bottom: 0;
  }
}

.c-video-card__title {
  color: currentColor;
  text-transform: uppercase;
}

.c-video-card__description {
  height: 2rem;
  color: $grayscale__dark-on-light--secondary-text;
}

.c-video-card__supporting-data {
  display: flex;
  justify-content: space-between;

  :first-child {
    margin-right: 1em;
  }
}

.c-video-card__twitch-link {
  margin-top: auto;
  color: currentColor;
  text-decoration: none;
  height: $dimension__tap-target--md;
}
