@import "variables/variables";

@import "components/components";
@import "object-patterns/object-patterns";
@import "pages/pages";
@import "typography/typography";
@import "utilities/utilities";

html {
  font-size: 100%;
}

body {
  position: relative;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: hsla(0, 0%, 92%, 1);
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}


.p-application {
  position: relative;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-color: hsla(0, 0%, 92%, 1);
  z-index: 1;
  display: flex;
  flex-wrap: nowrap;
}

.p-application__sidenav {
  flex: 0 1 $width__sidenav;
  box-shadow: 2px 0 3px 1px $color__box-shadow;
  background-image: linear-gradient(
    to bottom,
    $theme-color__primary-1--900 0%,
    $theme-color__primary-1--700 66%,
    $theme-color__primary-1--500
  );
  z-index: 1;
}

.p-application__navbar {
  height: $height__navbar;
}

.p-application__main-content {
  flex: 1;
  padding: $padding__content-box--lg;
  padding-top: $height__navbar;
  overflow: hidden;
  overflow-y: auto;
  box-sizing: border-box;
}

.p-application__flash-messages {
  bottom: 0;
  right: 0;
}
