<main class="p-application">

  {{x-sidenav class="p-application__sidenav u-fill-height"}}

  {{!-- Navbar --}}
  <header class="p-application__navbar c-navbar">
    <div class="c-navbar__content-section u-fill-height o-content-box">
      <button class="c-button c-button--primary c-navbar__login-button" onclick={{route-action 'authenticate'}}>Authenticate with Twitch</button>
    </div>
  </header>

  <section class="p-application__main-content u-fill-height">
    {{!-- Main content --}}
    {{outlet}}
  </section>

  {{flash-messages verticalPos="bottom" horizontalPos="right"}}

</main>
